{% extends 'registration/base.html' %}
{% load i18n %}
{% load url from future %}
{% block registration-title %}{% trans 'Login' %}{% endblock %}
{% block registration-content %}
    <form method="post" action="">
        {% csrf_token %}
        <input name="next" type="hidden" value="{% url 'index:index' %}">
        <dl class="register">
            {% for field in form %}
                <dt>{{ field.label_tag }}</dt>
                <dd class="clearfix">{{ field }}
                    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
                </dd>
            {% endfor %}
        </dl>
        <input type="submit" value="Sign up" class="clearfix btn btn-success">
    </form>
{% endblock %}