{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load url from future %}

{% block header-menu %}
    {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
    {% endif %}
    {% if not user.is_active %}
        <li><a href="{% url 'registration:auth_login' %}">{% trans 'Login' %}</a></li>
        <li><a href="{% url 'registration:registration_register' %}">{% trans 'Sing up' %}</a></li>
    {% else %}
        <li><a href="{% url 'registration:auth_logout' %}?next={% url 'index:index' %}">{% trans 'Logout' %}</a></li>
    {% endif %}
{% endblock %}