{% extends 'index/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
    {% trans 'Welcome page' %}
{% endblock %}

{% block description %}
    {% trans 'Description for welcome page' %}
{% endblock %}

{% block head %}
    <!-- additional dependecies -->
{% endblock %}

{% block header-content %}
    {% trans 'Welcome page' %}
{% endblock %}




{% block main-header-title %}
    {% trans 'Getting Started' %}
{% endblock %}


{% block content-after %}
    <article id="introduction">
        <h3>Introduction</h3>
        <p>Welcome to <abbr title="HyperText Markup Language 5">HTML5</abbr> Bones. This is a template that contains comments to aid you with setting up your <abbr title="HyperText Markup Language 5">HTML5</abbr> document.</p>
    </article>

    <article id="instructions">
        <h3>Instructions</h3>
        <ol>
            <li>Read the comments in this template</li>
            <li>Decide how you think your content may fit into the template</li>
            <li>Start building your document</li>
        </ol>
    </article>

    <aside role="complementary">
        <h3>Did you know?</h3>
        <p>The article and section elements cause a lot of confusion when people are trying to decide how and when to use them. The article: <a href="http://www.iandevlin.com/blog/2011/04/html5/html5-section-or-article">section or article?</a> might help you choose.</p>
    </aside>
{% endblock %}
